
body{
    background-color: rgb(52, 191, 255);
    display: flex;
    flex-direction: column;
   align-items: center;
}

.oculto{
    display: none;
}

#mostrarMenu{
    height: 35px;
    width: 20%;
    margin-bottom: 1em;
}
#menuAgregar{
    text-align: center;
}

#btn{
    margin-top: 1em;
}

input{
    height: 35px;
    width: 20%;
}
.tarjeta {
    background-color: lightgrey;
    width: 80vw;
    margin: 1vh;
}

#formularioPartidos{
width: 80vw;
}