*{
   margin: 0px;
}
body{
    height: 100vh;
    background-color: rgb(52, 191, 255);
    display: flex;
    flex-direction: column;
   align-items: center;
}

header{
    
    width: 100%;
}

.titulo{
    background-color: #273036;
    color:rgb(52, 191, 255) ;
}
h1{
    font-size: 3rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2rem;
}



#mostrarMenu{
    height: 35px;
    width: 20%;
    margin-bottom: 1em;
}

button, #btn, #btnLogIn, #btnRegistro{
    background-color: rgb(184, 247, 255);
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 1em;
}

input{
    height: 35px;
    width: 20%;
    margin: 4px;
    background-color: rgb(183, 220, 224) ;
    border-radius: 3px;
    
    
}
.tarjeta {
    background-color: rgb(183, 220, 224);
    padding: 2px;
    width: 80vw;
    margin: 1vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: black solid 2px;
    border-radius: 5px;
}
 #formRegistro, #formLogIn{
    text-align: center;
    margin: 4px;
} 
#formularioPartidos{
    width: 80vw;
}
#menuAgregar{
    text-align: center;
}

.oculto{
    display: none;
}

footer{
    width: 100%;
 
    
}